<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список кредитных договоров</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div th:replace="~{fragments/sidelayout :: sidebar}"></div>
        </div>
        <div class="col-md-9">
            <div class="content">
                <div class="mt-5">
                    <h1>Список кредитных договоров</h1>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Дата подписания</th>
                            <th>Статус подписания</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="contract : ${contracts}">
                            <td th:text="${contract.getFio()}"></td>
                            <td th:text="${contract.getSignedDate() == null ? '-' : contract.getSignedDate()}"></td>
                            <td th:text="${contract.signedStatus ? 'Подписан' : 'Не подписан'}"></td>
                            <td>
                                <div th:if="${!contract.getSignedStatus()}">
                                    <a th:href="@{/contract/{id}/sign(id=${contract.id})}"
                                       class="btn btn-success btn-sm">Подписать</a>
                                </div>
                                <div th:unless="${!contract.getSignedStatus()}">
                                    -
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
